@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
h2 {
  margin-top: -30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  color: white;
  font-family: "Caprasimo", cursive;
  font-weight: 100;
}
body {
  padding: 50px;
  font: "Curier New", monospace;
  font-size: 1em;
  background-color: black;
}
#calculator {
  width: 332px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(3, 242, 242);
  border-radius: 10px;
  box-shadow: 0px 1px 7px 0px black;
}

#display {
  display: grid;
  border: 1px solid black;
  height: 70px;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px black;
  font-family: Arial, Helvetica, sans-serif;
}
#display #currentPreview {
  display: block;
  text-align: right;
  padding: 8px 7px;
  background: none;
  font-size: 1em;
}

#display #resultWindow {
  display: block;
  text-align: right;
  background: none;
  padding: 0px 3px;
  font-size: 2rem;
}

#keypad {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding-top: 10px;
  font-family: inherit;
  font-size: 1.5rem;
}
#keypad button {
  width: 70px;
  height: 70px;
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 7px 0px rgb(0, 0, 0);
  background-color: black;
  color: white;
}

#keypad button:hover {
  transform: scale(1.1);
  background-color: rgb(0, 98, 255);
}
#keypad button.operator {
  background-color: rgb(168, 248, 248);
  color: black;
  font-weight: 700;
}
#keypad button.operator:hover {
  background-color: rgb(0, 98, 255);
}
#equalsBtn {
  grid-column: -2;
  color: white;
}
